*
!.gitignore

!programming-assignments/
!programming-assignments/PA*/
!programming-assignments/PA*/starter_code/
!programming-assignments/PA*/starter_code/**

!written-assignments/
!written-assignments/WA*/
!written-assignments/WA*/*.pdf

!exams/
!exams/EXAM*/
!exams/EXAM*/*.pdf

!lectures/
!lectures/LEC*/
!lectures/LEC*/*.pdf

!labs/
!labs/LAB*/
!labs/LAB*/*.pdf
!labs/LAB*/*.py

!quizzes/
!quizzes/QUIZ*/
!quizzes/QUIZ*/*.pdf
!quizzes/QUIZ*/*.py